body {
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 0.8rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid gray;
  list-style-type: none;
}

nav .nav,
nav .nav-logo {
  margin: 0.5rem;
  display: inline;
}

/* * {
  border: 1px solid red;
} */

#intro {
  padding: 2rem 10% 3rem;
  text-align: center;
}

#intro h2,
#intro p {
  margin-bottom: 1rem;
}

#intro button {
  color: white;
  font-weight: bold;
  background-color: #c2195b;
  font-size: 1rem;
  border-radius: 25px;
  padding: 1rem;
}

#succeed-info {
  padding: 2rem 10% 3rem;
}

#succeed-info h2 {
  text-align: center;
  margin-bottom: 1rem;
}

#succeed-info h3 {
  text-align: center;
  margin-bottom: 1rem;
}

#succeed-info .card {
  display: inline-block;
  vertical-align: top;

  min-height: 175px;
  width: 31%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#pre-footer {
  background-color: #002540;
  color: white;
  padding: 1.5rem;
}

#pre-footer > div {
  display: inline-block;
  width: 20%;
}

#pre-footer h3,
#pre-footer p {
  margin-bottom: 0.5em;
}

footer {
  padding: 0.7rem;
}

footer span {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
